@model Context.Models.UserBook

@{
    ViewData["Title"] = "Delete";
}

<br />
<h4>
    Are you sure you want to delete @Html.DisplayFor(model => model.Book.Title) by @Html.DisplayFor(model => model.Book.AuthorFirstName) @Html.DisplayFor(model => model.Book.AuthorLastName)?
</h4>
<div class="center-align">
    <hr />
    <br />
    <form asp-action="Delete">
        <input type="hidden" asp-for="UserBookId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
    <br />
</div>
